<html>
    <head>
        <title>Ecom</title>
        <link rel="stylesheet" href="style.css"/>
        <script src="script.js" type="text/javascript"></script>

    </head>

    <body>
        <div class="grid-container">
        <header class="header">
            <div class="brand">
                <button class="nav-btn" onclick="openMenu()">
                    &#9776;
                </button>
                <a href="index.html">myEcom</a>
            </div>
            <div class="header-links">
                <a href="cart.html">Cart</a>
                <a href="signin.html">Signin</a>
            </div>
        </header>

        <aside class="nav-sidebar">
            <h3>Shopping Categories</h3>
            <button class="nav-sidebar-close-btn" onclick="closeMenu()">x</button>
            <ul>
                <li><a href="index.html">T-shirt</a></li>
                <li><a href="index.html">Hoddies</a></li>
            </ul>
        </aside>

        <main class="main">
            <div class="content">
                    <ul class="products">
                        {
                            data.products.map(product => 
                            <li>
                                <div class="product">
                                    <img class="product-image" src={product.image} alt="">
                                    <div class="product-name">
                                        <a href="product.html">{product.name}</a></div>
                                    <div class="product-brand">{product.brand}</div>
                                    <div class="product-price">RM {product.price}</div>
                                    <div class="product-rating">{product.rating} Stars {product.totalReviews}</div>
                                </div>
                            </li>)
                        }

                    <li class="product-li">
                        <div class="product">
                            <img class="product-image" src="https://static.nike.com/a/images/t_PDP_1280_v1/f_auto,q_auto:eco/3f741156-9128-461d-8717-45c327dc51e2/sportswear-older-t-shirt-5cMZd5.jpg" alt="">
                            <div class="product-name"><a href="product.html">Black collar t-shirt</a></div>
                            <div class="product-brand">Nike</div>
                            <div class="product-price">RM50.00</div>
                            <div class="product-rating">3.8stars (23reviews)</div>
                        </div>
                    </li>
                    <li class="product-li">
                        <div class="product">
                            <img class="product-image" src="https://static.nike.com/a/images/t_PDP_1280_v1/f_auto,q_auto:eco/3f741156-9128-461d-8717-45c327dc51e2/sportswear-older-t-shirt-5cMZd5.jpg" alt="">
                            <div class="product-name"><a href="product.html">Black collar t-shirt</a></div>
                            <div class="product-brand">Nike</div>
                            <div class="product-price">RM50.00</div>
                            <div class="product-rating">3.8stars (23reviews)</div>
                        </div>
                    </li>
                    </ul>
            </div>
        </main>

        <footer class="footer">All right reserved.</footer>
        </div>


    </body>
    
</html>