<table class="table table-striped">
    <thead>
        <tr>
            <th>List User Table</th>
        </tr>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user1 of user">
            <td>{{user1.id}}</td>
            <td>{{user1.email}}</td>
            <td>{{user1.first_name}}</td>
            <td>{{user1.last_name}}</td>
        </tr>
    </tbody>
</table>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Single User Table</th>
        </tr>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{userSingle.id}}</td>
            <td>{{userSingle.email}}</td>
            <td>{{userSingle.first_name}}</td>
            <td>{{userSingle.last_name}}</td>
        </tr>
    </tbody>
</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Create User Table</th>
        </tr>
        <tr>
            <th>id</th>
            <th>Email</th>
            <th>Name</th>
            <th>Job</th>
            <th>createdAt</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{userCreated.id}}</td>
            <td>{{userCreated.email}}</td>
            <td>{{userCreated.name}}</td>
            <td>{{userCreated.job}}</td>
            <td>{{userCreated.createdAt}}</td>
        </tr>
    </tbody>
</table>